<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/styl.css">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/register" method="POST">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" onfocus="hideLabel('email')" oninput="checkInput('email')" required>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" onfocus="hideLabel('password')" oninput="checkInput('password')" required>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me</label>
                    </div>
                    <br>
                    <div class="forget1">
                        <label for=""><a href="#">Forget Password</a></label>
                    </div>
                    <button type="submit">Log in</button>
                    <div class="register">
                        <p>Don't have a account <a href="#">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        function hideLabel(inputId) {
            const label = document.querySelector(`label[for="${inputId}"]`);
            label.style.display = 'none';
        }
        function checkInput(inputId) {
            const input = document.getElementById(inputId);
            const label = document.querySelector(`label[for="${inputId}"]`);
            if (input.value === '') {
                label.style.display = 'block';
            } else {
                label.style.display = 'none';
            }
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>