<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Deliveroo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" sizes="192x192"
        href="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_192,h_192/portal/c/logo_2022.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;900&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <header class="navbar">
            <div class="global-nav">
                <div class="nav">
                    <div class="left">
                        <a href="#home" class="logo">
                            <svg class="_8pSp-" viewBox="0 0 559 825" height="49" width="34" fill="#fc8019">
                                <div class="image">
                                    <img src="https://cdn.pixabay.com/photo/2017/09/23/21/21/label-2780146_1280.png" width="60px" height="60px">   
                                </div>
                                <defs>
                                    <linearGradient id="paint0_linear_19447_66107" x1="445.629" y1="63.8626"
                                        x2="160.773" y2="537.598" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#FF993A"></stop>
                                        <stop offset="1" stop-color="#F15700"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </a>
                        <div class="location-div">
                            <span class="other">Other</span>
                            <span class="location">Delhi, India</span>
                            <span class="arrow-down"><i class="fa-solid fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="right">
                        <ul class="items">
                            <li>
                                <div class="nav-item">
                                    <a href="">
                                        <svg class="_1GTCc" viewBox="5 -1 12 25" height="17" width="17" fill="#686b78">
                                            <path
                                                d="M17.6671481,17.1391632 L22.7253317,22.1973467 L20.9226784,24 L15.7041226,18.7814442 C14.1158488,19.8024478 12.225761,20.3946935 10.1973467,20.3946935 C4.56550765,20.3946935 0,15.8291858 0,10.1973467 C0,4.56550765 4.56550765,0 10.1973467,0 C15.8291858,0 20.3946935,4.56550765 20.3946935,10.1973467 C20.3946935,12.8789625 19.3595949,15.3188181 17.6671481,17.1391632 Z M10.1973467,17.8453568 C14.4212261,17.8453568 17.8453568,14.4212261 17.8453568,10.1973467 C17.8453568,5.97346742 14.4212261,2.54933669 10.1973467,2.54933669 C5.97346742,2.54933669 2.54933669,5.97346742 2.54933669,10.1973467 C2.54933669,14.4212261 5.97346742,17.8453568 10.1973467,17.8453568 Z">
                                            </path>
                                        </svg>
                                            <link rel="stylesheet" href="style.css">
                                            <div class="container">
                                                <form action="" class="search-bar">
                                                    <input type="text", placeholder="Search" name="q">
                                                </form>
                                            </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item">
                                    <a href="">
                                        <svg class="_1GTCc" viewBox="0 0 32 32" height="19" width="19" fill="#686b78">
                                            <path
                                                d="M14.2 2.864l-1.899 1.38c-0.612 0.447-1.35 0.687-2.11 0.687h-2.352c-0.386 0-0.727 0.248-0.845 0.613l-0.728 2.238c-0.235 0.721-0.691 1.348-1.302 1.79l-1.905 1.385c-0.311 0.226-0.442 0.626-0.323 0.991l0.728 2.241c0.232 0.719 0.232 1.492-0.001 2.211l-0.727 2.237c-0.119 0.366 0.011 0.767 0.323 0.994l1.906 1.384c0.61 0.445 1.064 1.070 1.3 1.79l0.728 2.24c0.118 0.365 0.459 0.613 0.844 0.613h2.352c0.759 0 1.497 0.24 2.107 0.685l1.9 1.381c0.313 0.227 0.736 0.227 1.048 0.001l1.9-1.38c0.613-0.447 1.349-0.687 2.11-0.687h2.352c0.384 0 0.726-0.248 0.845-0.615l0.727-2.235c0.233-0.719 0.688-1.346 1.302-1.794l1.904-1.383c0.311-0.226 0.442-0.627 0.323-0.993l-0.728-2.239c-0.232-0.718-0.232-1.49 0.001-2.213l0.727-2.238c0.119-0.364-0.012-0.765-0.324-0.992l-1.901-1.383c-0.614-0.445-1.070-1.074-1.302-1.793l-0.727-2.236c-0.119-0.366-0.461-0.614-0.845-0.614h-2.352c-0.76 0-1.497-0.239-2.107-0.685l-1.903-1.382c-0.313-0.227-0.736-0.226-1.047-0.001zM16.829 0.683l1.907 1.385c0.151 0.11 0.331 0.168 0.521 0.168h2.352c1.551 0 2.927 1 3.408 2.475l0.728 2.241c0.057 0.177 0.169 0.332 0.321 0.442l1.902 1.383c1.258 0.912 1.784 2.531 1.304 4.006l-0.726 2.234c-0.058 0.182-0.058 0.375-0.001 0.552l0.727 2.237c0.48 1.477-0.046 3.096-1.303 4.007l-1.9 1.38c-0.153 0.112-0.266 0.268-0.324 0.447l-0.727 2.237c-0.48 1.477-1.856 2.477-3.408 2.477h-2.352c-0.19 0-0.37 0.058-0.523 0.17l-1.904 1.383c-1.256 0.911-2.956 0.911-4.213-0.001l-1.903-1.384c-0.15-0.11-0.332-0.168-0.521-0.168h-2.352c-1.554 0-2.931-1.001-3.408-2.477l-0.726-2.234c-0.059-0.18-0.173-0.338-0.324-0.448l-1.902-1.381c-1.258-0.912-1.784-2.53-1.304-4.008l0.727-2.235c0.058-0.179 0.058-0.373 0.001-0.551l-0.727-2.236c-0.481-1.476 0.046-3.095 1.302-4.006l1.905-1.385c0.151-0.11 0.264-0.265 0.323-0.444l0.727-2.235c0.478-1.476 1.855-2.477 3.408-2.477h2.352c0.189 0 0.371-0.059 0.523-0.17l1.902-1.383c1.256-0.911 2.956-0.911 4.212 0zM18.967 23.002c-1.907 0-3.453-1.546-3.453-3.453s1.546-3.453 3.453-3.453c1.907 0 3.453 1.546 3.453 3.453s-1.546 3.453-3.453 3.453zM18.967 20.307c0.419 0 0.758-0.339 0.758-0.758s-0.339-0.758-0.758-0.758c-0.419 0-0.758 0.339-0.758 0.758s0.339 0.758 0.758 0.758zM10.545 14.549c-1.907 0-3.453-1.546-3.453-3.453s1.546-3.453 3.453-3.453c1.907 0 3.453 1.546 3.453 3.453s-1.546 3.453-3.453 3.453zM10.545 11.855c0.419 0 0.758-0.339 0.758-0.758s-0.339-0.758-0.758-0.758c-0.419 0-0.758 0.339-0.758 0.758s0.339 0.758 0.758 0.758zM17.78 7.882l2.331 1.352-7.591 13.090-2.331-1.352 7.591-13.090z">
                                            </path>
                                        </svg>
                                        <span>Offers</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item">
                                    <a href="">
                                        <svg class="_1GTCc" viewBox="6 -1 12 25" height="19" width="19" fill="#686b78">
                                            <path
                                                d="M21.966903,13.2244898 C22.0156989,12.8231523 22.0408163,12.4145094 22.0408163,12 C22.0408163,11.8357822 22.036874,11.6724851 22.029079,11.5101984 L17.8574333,11.5102041 C17.8707569,11.6717062 17.877551,11.8350597 17.877551,12 C17.877551,12.4199029 17.8335181,12.8295214 17.749818,13.2244898 L21.966903,13.2244898 Z M21.5255943,15.1836735 L16.9414724,15.1836735 C15.8950289,16.8045422 14.0728218,17.877551 12,17.877551 C9.92717823,17.877551 8.1049711,16.8045422 7.05852762,15.1836735 L2.47440565,15.1836735 C3.80564362,19.168549 7.56739481,22.0408163 12,22.0408163 C16.4326052,22.0408163 20.1943564,19.168549 21.5255943,15.1836735 Z M21.7400381,9.55102041 C20.6468384,5.18931674 16.7006382,1.95918367 12,1.95918367 C7.2993618,1.95918367 3.3531616,5.18931674 2.25996187,9.55102041 L6.6553883,9.55102041 C7.58404845,7.5276442 9.62792376,6.12244898 12,6.12244898 C14.3720762,6.12244898 16.4159515,7.5276442 17.3446117,9.55102041 L21.7400381,9.55102041 Z M2.03309705,13.2244898 L6.25018203,13.2244898 C6.16648186,12.8295214 6.12244898,12.4199029 6.12244898,12 C6.12244898,11.8350597 6.1292431,11.6717062 6.14256675,11.5102041 L1.97092075,11.5102041 C1.96312595,11.6724851 1.95918367,11.8357822 1.95918367,12 C1.95918367,12.4145094 1.98430112,12.8231523 2.03309705,13.2244898 Z M12,24 C5.372583,24 0,18.627417 0,12 C0,5.372583 5.372583,0 12,0 C18.627417,0 24,5.372583 24,12 C24,18.627417 18.627417,24 12,24 Z M12,15.9183673 C14.1640545,15.9183673 15.9183673,14.1640545 15.9183673,12 C15.9183673,9.83594547 14.1640545,8.08163265 12,8.08163265 C9.83594547,8.08163265 8.08163265,9.83594547 8.08163265,12 C8.08163265,14.1640545 9.83594547,15.9183673 12,15.9183673 Z">
                                            </path>
                                        </svg>
                                        <span>Help</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item">
                                    <a href="">
                                        <svg class="_1GTCc _2MSid" viewBox="-1 0 37 32" height="20" width="20"
                                            fill="#686b78">
                                            <path d="M4.438 0l-2.598 5.11-1.84 26.124h34.909l-1.906-26.124-2.597-5.11z">
                                            </path>
                                        </svg>
                                        <span>Cart</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main class="main-container">
            <section class="restaurants">
                <div class="container">
                    <div class="item-bar">
                        <div class="number">1066 restaurants</div>
                        <div class="filters">
                            <div class="relevance">Relevance</div>
                            <div class="delivery">Delivery Time</div>
                            <div class="rating">Rating</div>
                            <div class="cost-lh">Cost: Low to High</div>
                            <div class="cost-hl">Cost: High to Low</div>
                        </div>
                    </div>
                    <div class="restaurant-list">
                        <div class="place">
                            <a href="/restaurants/waffld-domlur-bangalore-303446" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="La Pino'z Pizza"
                                                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/hgvtyqrxzvpwmbs361er"
                                                width="254" height="160">
                                        </div>
                                        <div class="status" style="
                                        background: rgb(58, 60, 65);
                                        color: rgb(255, 255, 255);
                                        border-color: rgb(30, 32, 35) transparent;">
                                            <div class="status-title">Promoted</div>
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">La Pino'z Pizza</div>
                                            <div class="food-items"
                                                title="Italian, Pizzas, Fast Food, Mexican, Desserts, Beverages">
                                                Italian, Pizzas, Fast Food, Mexican, Desserts, Beverages</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>3.8</span>
                                            </div>
                                            <div>•</div>
                                            <div>42 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹250 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="place">
                            <a href="" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="Bercos - If you love chinese" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/da7ljr3maysljwiafbqd" width="254" height="160">
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">Bercos - If you love chinese</div>
                                            <div class="food-items"
                                            title="Chinese, Thai, Asian, Beverages, Desserts, Oriental, Seafood, Pan-Asian">Chinese, Thai, Asian, Beverages, Desserts, Oriental, Seafood, Pan-Asian</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>4.0</span>
                                            </div>
                                            <div>•</div>
                                            <div>33 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹500 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="place">
                            <a href="" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="Wack Waffles &amp; Brownies" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/lewtqvpn0fx3hzyirp9i" width="254" height="160">
                                        </div>
                                        <div class="status" style="
                                        background: rgb(58, 60, 65);
                                        color: rgb(255, 255, 255);
                                        border-color: rgb(30, 32, 35) transparent;">
                                            <div class="status-title">Promoted</div>
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">Wack Waffles & Brownies</div>
                                            <div class="food-items"
                                            title="Waffle, Bakery, Desserts, Beverages">Waffle, Bakery, Desserts, Beverages</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>3.9</span>
                                            </div>
                                            <div>•</div>
                                            <div>34 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹250 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="place">
                            <a href="" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="Takeout Cafe" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/qmi3q6jjey6el7ojxohj" width="254" height="160">
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">Takeout Cafe</div>
                                            <div class="food-items"
                                            title="Italian-American, Fast Food, Snacks, Beverages">Italian-American, Fast Food, Snacks, Beverages</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>5.0</span>
                                            </div>
                                            <div>•</div>
                                            <div>39 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹200 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="place">
                            <a href="" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="Healthy Bhukkad's" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/mbehmjbfwpo1etkfjaws" width="254" height="160">
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">Healthy Bhukkad's</div>
                                            <div class="food-items"
                                            title="Fast Food, Snacks, Beverages">Fast Food, Snacks, Beverages</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>4.7</span>
                                            </div>
                                            <div>•</div>
                                            <div>40 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹199 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="place">
                            <a href="" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="Momo Mom by Oriental Mom" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/lnz4kruosiqfrvs0kfdq" width="254" height="160">
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">Momo Mom by Oriental Mom</div>
                                            <div class="food-items"
                                            title="Pan-Asian, Tibetan, Seafood, Chinese">Pan-Asian, Tibetan, Seafood, Chinese</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>4.6</span>
                                            </div>
                                            <div>•</div>
                                            <div>56 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹400 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="place">
                            <a href="" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="Firangi Bake" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/vxpgndpz9lx6f3cktvbj" width="254" height="160">
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">Firangi Bake</div>
                                            <div class="food-items"
                                            title="Italian, Mexican, Pastas, Ice Cream">Italian, Mexican, Pastas, Ice Cream</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>4.4</span>
                                            </div>
                                            <div>•</div>
                                            <div>38 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹400 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="place">
                            <a href="" class="place-link">
                                <div class="list-item">
                                    <div class="item-content">
                                        <div class="top-img">
                                            <img class="_2tuBw _12_oN" alt="Chili's American Grill &amp; Bar" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/qrau8eqk59h2kfj7p1qt" width="254" height="160">
                                        </div>
                                        <div class="place-name-div">
                                            <div class="name">Chili's American Grill & Bar</div>
                                            <div class="food-items"
                                            title="American, Mexican">American, Mexican</div>
                                        </div>
                                        <div class="info-div">
                                            <div class="rating">
                                                <span class="icon-star"><i class="fa-solid fa-star"></i></span>
                                                <span>4.3</span>
                                            </div>
                                            <div>•</div>
                                            <div>46 MINS</div>
                                            <div>•</div>
                                            <div class="price">₹900 FOR TWO</div>
                                        </div>
                                        <div class="offer-div">
                                            <span class="icon-offer-filled"><i class="fa-solid fa-tag"></i></span>
                                            <span class="offer-text">50% off | Use WELCOME50</span>
                                        </div>
                                    </div>
                                    <div class="quick-view">
                                        <span role="button" aria-label="Open" class="view-btn">QUICK VIEW</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-content">
                <div class="points">
                    COMPANY
                    <ul class="footer-ul">
                        <li class="footer-li"><a href="#">About us</a></li>
                        <li class="footer-li"><a href="#">Team</a></li>
                        <li class="footer-li"><a href="#">Careers</a></li>
                        <li class="footer-li"><a href="#">Azinomoto Blog</a></li>
                        <li class="footer-li"><a href="#">Bug Bounty</a></li>
                        <li class="footer-li"><a href="#">Azinomoto Super</a></li>
                        <li class="footer-li"><a href="#">Azinomoto Corporate</a></li>
                        <li class="footer-li"><a href="#">Azinomoto Instamart</a></li>
                    </ul>
                </div>
                <div class="points">
                    CONTACT
                    <ul class="footer-ul">
                        <li class="footer-li"><a href="#">Help & Support</a></li>
                        <li class="footer-li"><a href="#">Partner with us</a></li>
                        <li class="footer-li"><a href="#">Ride with us</a></li>
                    </ul>
                </div>
                <div class="points">
                    LEGAL
                    <ul class="footer-ul">
                        <li class="footer-li"><a href="#">Terms & Conditions</a></li>
                        <li class="footer-li"><a href="#">Refund & Cancellation</a></li>
                        <li class="footer-li"><a href="#">Privacy Policy</a></li>
                        <li class="footer-li"><a href="#">Cookie Policy</a></li>
                        <li class="footer-li"><a href="#">Offer Terms</a></li>
                        <li class="footer-li"><a href="#">Phishing & Fraud</a></li>
                    </ul>
                </div>
                <div class="points">
                    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/play_ip0jfp"
                        height="54" />
                    <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/iOS_ajgrty"
                        height="54" />
                </div>
            </div>
        </footer>
    </div>
</body>
</html>